<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Form - Server Side</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

</head>
<body ng-controller="RegCtrl as ctrl">
<div class="container">
    <form name="regForm" novalidate ng-submit="ctrl.register()">
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="ctrl.username">
        </div>

        <div class="form-group">
            <label for="email">User Email</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="ctrl.email">
        </div>

        <div class="form-group">
            <label ID="gender" for="gender">Gender</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender" value="male" ng-model="ctrl.gender">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="female" ng-model="ctrl.gender">Female
                </label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control">Register</button>
        </div>

    </form>

    <table class="table table-hover">
    	<thead>
    		<tr>
    			<td>First Name</td>
                <td>&nbsp</td>
    			<td>Last Name</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="name in ctrl.names">
    			<td>{{name.firstname}}</td>
                <td>&nbsp</td>
    			<td>{{name.lastname}}</td>
    		</tr>
    	</tbody>
    </table>
</div>
</body>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/angular/angular.js"></script>
<script src="/index.js"></script>

</html>